section header h1{
    color: #272727;
    font-size: 36px;
    font-weight: SemiBold;
}

span{
    color: #F4610B;
}

.dark .back{
    background: #111827;
}

.dark #skills{
    background: #1b1b1b;
   
}

.dark .skills{
    color: #fff;
}