@keyframes typing-bg {
  0% {
    width: 0;
    right: 0;
  }
  50% {
    width: 13ch;
    right: 0;
  }
  100% {
    width: 0;
    right: 0;
  }
}

@keyframes move-cursor {
  0% {
    right: 0;
  }
  50% {
    right: 13ch;
  }
  100% {
    right: 0;
  }
}


.green-dot{
  color:#22c55e;
  animation: pulse 1.5s infinite;
}
@keyframes pulse {
  0% ,100%{
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  
}
.animate-cursor-wrapper {
  position: relative;
  display: inline-block;
  width: 13ch;
  font-size: 2.5rem;
  color: #f97316;
  white-space: nowrap;
  -webkit-text-stroke: 1px #f97316;
  color: transparent;
}

.animate-cursor-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #ffffff;
  z-index: 2;
  animation: typing-bg 4s steps(13) infinite;
}

.dark .animate-cursor-wrapper::after {
  background-color: #151515; 
}

.dark .creative{
    color: #fff;
}

.animate-cursor {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #f97316;
  z-index: 3;
  animation: move-cursor 4s steps(13) infinite;
}

.whatsapp, .facebook, .X, .github, .linkedin {
  border: 2px solid #f97316;
  border-radius: 50%;
  padding: 5px;
  background: #272727;
  transition: transform 0.3s;
  color: white;
}

.whatsapp:hover,
.facebook:hover,
.X:hover,
.github:hover,
.linkedin:hover {
  transform: scale(1.1);
}

.dark .whatsapp,
.dark .facebook,
.dark .X,
.dark .github,
.dark .linkedin {
  background-color: transparent;
  color: #fff;
}
.dark section .hi{
  color: #fff;
}

.dark .social h3{
  color: #fff;
}

.dark .Available{
  color: #fff;
}
@media (min-width: 768px) {
  .typing-effect {
    font-size: 3rem;
  }
}
