input{
    background: #F4610B;
    opacity: 0.5;
    border-radius: 10px;
}

textarea{
    background: #F4610B;
    opacity: 0.5;
    border-radius: 10px;
}

    span{
        color: #F4610B;
    
    }


    .dark #contact{
        background: #151515;
    }

    .dark .box{
        background-color: #272727;
    }

    
    .dark input{
        background: #1B1B1B;
       
    }
    
    .dark textarea{
        background: #1B1B1B;
        
    }
    .dark .box1{
        background-color: #272727;
    }

    .dark .header{
        color: #fff;
    }
    .dark .header1{
        color: #fff;
        opacity: 70%;
    }
#contact .phone,#contact .email,#contact .address{
    color: #F4610B;
}
    .dark #contact .phone,.dark #contact .email,.dark #contact .address{
        color: #F4610B;
    }